@model LittleBooks.Common.Models.AboutProjectModel
@using LittleBooks.Common.Resources;

@{
    ViewBag.Title = AdminResources.aboutProject;
}



<div class="br-mainpanel">

    <div class="br-pagetitle">
        <div>
            <h1>@AdminResources.aboutProject</h1>
        </div>
    </div><!-- d-flex -->


    <div class="br-pagebody">
        <div class="br-section-wrapper">

            <dl class="dl-horizontal">
                <dd>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Text))
                </dd>
            </dl>
            <hr />
            <p>
                @Html.ActionLink(AdminResources.edit, "EditAboutProject", new { id = Model.Id })

            </p>
        </div>

    </div>
</div>