<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title - Little Books</title>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>წიგნის სახელოსნო</title>
    <meta name="description" content="პატარაობაში ადამიანები ოცნებობენ, ფიქრობენ, ესიზმრებათ უცნაური სიზრმები და ათასგვარ რამეს იგონებენ. მერე იზრდებიან და ყველაფერი სადღაც იკარგება. თითქოს ეს ყველაფერი არც ყოფილა. ამ ვებგვერდზე შეგიძლია ნახოთ წიგნები რომლებიც პატარა ბავშვებმა თავიანთი თანატოლებისა და უფროსებისათვის დაწერეს.">
    <meta name="keywords" content="წიგნის სახელოსნო">
    <meta name='author' content='Anano Aspanidze (მელა) - anano.aspanidze@geolab.edu.ge'>
    <link rel="icon" href="~/Style/images/logo.ico">

    <!-- fb og tags  -->
    <meta property="og:title" content="წიგნის სახელოსნო" />
    <meta property="og:description" content="პატარაობაში ადამიანები ოცნებობენ, ფიქრობენ, ესიზმრებათ უცნაური სიზრმები და ათასგვარ რამეს იგონებენ. მერე იზრდებიან და ყველაფერი სადღაც იკარგება. თითქოს ეს ყველაფერი არც ყოფილა. ამ ვებგვერდზე შეგიძლია ნახოთ წიგნები რომლებიც პატარა ბავშვებმა თავიანთი თანატოლებისა და უფროსებისათვის დაწერეს." />
    <!-- <meta property="fb:app_id" content="" />-->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://littlebooks.geolab.edu.ge/" />
    <meta property="og:image" content="https://littlebooks.geolab.edu.ge/images/logo-bigger.png" />
    <link rel="stylesheet" type="text/css" href="~/Style/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Style/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/Style/css/reset.min.css">
    <link rel="stylesheet" href="~/Style/css/fonts.css">
    <link rel="stylesheet" href="~/Style/css/main.min.css">


</head>

<body>



    @*<header class="mela-section">
        <img id="menu-shape-1" src="~/Style/images/menu-shape-1.png" alt="menu-shape-1">
        <img id="menu-shape-2" src="~/Style/images/menu-shape-2.png" alt="menu-shape-2">
        <img id="menu-shape-3" src="~/Style/images/menu-shape-3.png" alt="menu-shape-3">
        <img id="tsriala-1" src="~/Style/images/tsriala-1.gif" alt="წრიალა-1">
         <img id="tsriala-1" data-gifffer="images/tsriala-1.gif" /> 

        <div class="flex menu-wrapper flex-align-center">
            <a href="~/Home/Index"><img id="logo" src="~/Style/images/logo.svg" alt="წიგნის სახელოსნო"></a>
            <nav class="sandro-font-regular">
                <ul class="flex navigacia">
                    <li><a href="~/About/Index">პროექტის შესახებ</a></li>
                    <li><a href="~/Contact/Index">კონტაქტი</a></li>
                    <li><a href="~/Home/Catalogue">წიგნები</a></li>
                    <li class="relative"><img id="search-icon" class="vertical-middle photo" src="~/Style/images/search-icon.svg" alt="search-icon"> <input type="text" id="search-input" placeholder="საპოვნელა" class="search"></li>
                </ul>
            </nav>
        </div>
    </header>

    <footer class="sandro-font-regular flex mela-section flex-align-center">
        <img src="~/Style/images/Layer-35.png" alt="tsriala" class="tsriala-in-footer">
        <img src="~/Style/images/footer-shape-1.png" alt="footer-shape" class="footer-shape-1">
        <img src="~/Style/images/footer-shape-2.png" alt="footer-shape" class="footer-shape-2">
        <div class="">
            <img src="~/Style/images/geolab-logo.png" alt="ჯეოლაბი" id="geolab-logo">
            <img src="~/Style/images/multi-biblioteka-logo.png" alt="თბილისის მულტიფუნქციური ბიბლიოთეკების გაერთიანება" id="biblio-logo">
        </div>
        <p>© პროდუქტი შექმნილია კომპანია "ჯეოლაბის" მიერ</p>
        <p>გვეკონტაქტე: 032 566 77 898</p>
    </footer>*@



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">

    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- <script type="text/javascript" src="../Style/js/gifffer.min.js"></script> -->
    <script type="text/javascript" src="~/Style/js/script.js"></script>
    <script src="~/Style/js/script.js"></script>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>



<script type="text/javascript" src="~/Style/js/gifffer.min.js"></script>





<script>
    $("#search-input").keyup(function (event) {
        if (event.keyCode === 13) {
            var searchInput = $("#search-input").val();
            $.ajax({
                async: true,
                type: "Get",
                url: "/Home/Catalogue",

                data: {
                    'search': searchInput
                },
                success: function (data) {
                },
                error: function () {
                }
            })
        }
    });

</script>
